<%-include('cabecalho.ejs')%>
<form method="post">
    <div class="form-floating">
        <input class="form-control mb-1" type="search" name="pesquisar" placeholder="Pesquisar" id="search">
        <label class="form-label" for="search">Pesquisar</label>
    </div>
    <div class="mb-3">    
        <input class="btn btn-outline-primary" type="submit" value="Pesquisar">
    </div>
    </form>
    <table class="table table-dark table-borderless mb-1">
        <tr>
            <th>Titulo</th>
            <th>Tags</th>
            <th>Foto</th>
            <th>Status</th>
            <th>Editar</th>
        <% Posts.forEach(function(post){ %>
        </tr>
            <td><%=post.titulo%></td>
            <td><%=post.tags%></td>
            <td><img class="img-thumbnail img.fluid" src="/<%=post.foto%>" alt="Foto do post"></td>
            <td><%=post.status%></td>
            <td><a class="btn btn-outline-primary" href="/postedit/<%=post.id%>">Editar</a></td>
        </tr>
    <%})%>
    </table>
</div>
<style>img{
    width: 100px;}
    </style>
<%-include('rodape.ejs')%>    
