<%-include('cabecalho.ejs')%>
<form method="post">
    <div class="form-floating">
        <input class="form-control mb-1" type="search" name="pesquisar" placeholder="Pesquisar" id="search">
        <label class="form-label" for="search">Pesquisar</label>
    </div>
    <div class="mb-3">    
        <input class="btn btn-outline-primary" type="submit" value="Pesquisar">
    </div>
    </form>
    <table class="table table-dark table-borderless mb-1">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Editar</th>
        <% Usuarios.forEach(function(usuario){ %>
        </tr>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><img src="/<%=usuario.foto%>" alt="Foto do Usuario" class="img-thumbnail"></td>
            <td><a class="btn btn-outline-primary" href="/editarusuario/<%=usuario.id%>">Editar</a></td>
        </tr>
    <%})%>
    </table>
</div>
<style>img{
    width: 100px;}
    </style>
<%-include('rodape.ejs')%>    
