<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="id" class="form-label ">Id</label>
            <input type="text" name="_id" id="id" value="<%=Post.id%>" class="form-control-plaintext" readonly disabled>
        </div>
    <div>
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" name="titulo" id="titulo" class="form-control border border-primary" value="<%=Post.titulo%>">
    </div>
    <div>    
    <label for="texto" class="form-label">Texto</label>
    <textarea class="form-control border border-primary" name="texto" id="texto" rows="3" value="<%=Post.texto%>"></textarea>
    </div>
    <div>    
        <label for="tags" class="form-label">Tags</label>
        <input type="text" name="tags" id="tags" class="form-control border border-primary"
        placeholder="Digite as tags separadas por ;" value="<%=Post.tags%>">
    </div>
    <div>    
        <label for="foto" class="form-label">Foto</label>
        <input type="file" name="foto" id="foto" class="form-control border border-primary" >
    </div>
    <div>    
    <label for="data" class="form-label">Data</label>
        <input type="date" name="data" id="data" class="form-control border border-primary" value="<%=Post.data%>" >
    </div>
    <div>
        <label class="form-label" for="status">Status do post</label>
        <select value="<%=Post.tags%>" class="form-select" id="status" name="status">
          <option disabled selected>Escolha como salvar o post</option>
          <option 
          <%if(Post.status == 'publicado'){%>
            selected
            value="Publicado"<%}%>>Publicar</option>
          <option <%if(Post.status == 'arquivado'){%>
            selected
            value="Arquivado"<%}%>>Arquivar</option>
          <option <%if(Post.status == 'rascunho'){%>
        selected
            value="Rascunho"<%}%>>Rascunho</option>
        </select>
      </div>
      
    <div>
        <input type="submit" value="Enviar" class=" btn btn-outline-primary mt-3 mb-3">
        <a href="/deletapost/<%=Post.id%>" class="btn btn-outline-danger">Deletar post</a>
    </div>
    </form>
</body>
</html>
<%-include('rodape.ejs')%>