<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>ESCOLA</title>
    <%-include('logincss.ejs')%>
</head>
<body>
    <h1 class="position-absolute top-0 start-50 translate-middle mt-5">CADASTRO DE NOTAS</h1>
    <div class="bg-light p-3 text-bg-light col-5 col-md-8 position-absolute top-50 start-50 translate-middle border rounded-2">
        <form method="post">
            <div class="mb-3">
                <label for="aluno" class="form-label">Aluno</label>
                <select class="form-control" name="aluno" id="aluno">
                    <option value="" selected>Selecione um aluno</option>
                    <% alunos.forEach(aluno => { %>
                        <option value="<%= aluno.matricula %>"><%= aluno.nome %></option>
                    <% }); %>
                </select>
            </div>
            <div class="mb-3">
                <label for="curso" class="form-label">Curso</label>
                <select class="form-control" name="curso" id="curso">
                    <% cursos.forEach(curso => { %>
                        <option value="<%= curso.nome %>"><%= curso.nome %></option>
                    <% }); %>
                </select>
            </div>
            <div class="mb-3">
                <label for="nota" class="form-label">Nota</label>
                <input class="form-control" type="number" name="nota" id="nota" min="0" max="1000" step="0.01">
            </div>
            <div>
                <label for="avaliacao" class="form-label">Avaliação</label>
                <input type="text" class="form-control" name="avaliacao" id="avaliacao">
            </div>
            <div class="p-2">
                <input type="reset" class="btn btn-secondary" value="Limpar">
                <input type="submit" class="btn btn-primary" value="Adicionar">
            </div>
        </form>
    </div>
    <%-include('cadjs.ejs') %>

</body>
</html>