<%-include('cabecalho.ejs')%>
<div>
    <div class="p-3">
        <h1 class="display-4">Alunos</h1>
    </div>
    <div class="ms-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Curso</th>
                    <th>Avaliação</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <% Nota.forEach(nota => { %>
                <tr>
                    <td><%= aluno.nome %></td>
                    <td><%= nota.curso %></td>
                    <td><%= nota.avaliacao %></td>
                    <td><%= nota.nota %></td> 
                </tr>
            <% }); %>
        </table>
    </div>
</div>
<%- include('rodape.ejs') %>